.error-percentage-bar {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    display:block;
    width:100%;
    height:0.5rem;
    background: #ba0517;
    border:0;
    position:relative;
    border-radius:0.5rem
}

.error-percentage-bar_value {
    border-radius:0.5rem;
    display:block;
    background: #41b658;
    height: 100%;
}

.rl-log-success {
    color: #2e844a;
}

.rl-log-error {
    color: #ea001e;
}

.rl-label {
    position: absolute;
    top: 78px;
    left: 243px;
}

.rl-label-focused .rl-label {
    transform: translateY(125%);
    font-size: .75em;
    font-style: italic;
  }

.rl-log-label {
    margin-right: 0px;
}